.margin-bottom-10{
	margin:10px;
}
.table-margin-10{
	margin: 10px;
}
.table-block{
	overflow: auto;
}
.btn-margin{
	margin:10px;
}
.margin-top-5{
	margin-top: 10px;
}
.table-header{
	text-align: center;
}
